.azure

#ignore DS_Store
.DS_Store

venv/
.venv/

/data/codes/
/data/docs/
/data/evaluation/

#db
code_files.db

#ignore pycache
__pycache__/
src/promptflow-with-rawfiles/5eec2c26-9c2b-499a-b630-72ca66641b0b.png
